{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Kebitsamang Raleche - Curriculum Vitae</title>

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The Curriculum Vitae of Joe Bloggs." />
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body id="top">
    <div id="cv" class="instaFade">
        <div class="mainDetails">
            <div id="headshot" class="quickFade">
                <img src="{% static 'images/profile.png'%}" alt="Alan Smith" />
            </div>

            <div id="name">
                <h2 class="quickFade delayTwo">Kebitsamang Raleche(Mr.)</h2>
                <h2 class="quickFade delayThree">IT Manager</h2>
            </div>

            <div id="contactDetails" class="quickFade delayFour">
                <ul>
                    <li>E: <a href="mailto:joe@bloggs.com" target="_blank">raleche.kn@gmail.com</a></li>
                    <li>W: <a href="http://www.bloggs.com">www.raleche.co.ls</a></li>
                    <li>M: (+266) 58146342</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div id="mainArea" class="quickFade delayFive">
            <section>
                <article>
                    <div class="sectionTitle">
                        <h1>Personal Profile</h1>
                    </div>

                    <div class="sectionContent">
                        <p>Innovative Information Technology specialist offering dynamic IT skills in a wide spectrum,
                            ready to face any IT challenge. A change agent fascinated by user pain points to translate
                            them into IT solutions.</p>
                    </div>
                </article>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Work Experience</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>IT Manager at Mamoth Employee Benefits</h2>
                        <p class="subDetails">Feb 2017 - Present</p>
                        <p>In 2017, I was promoted to IT Manager. Some of the big projects completed during this time
                            include:</p>
                        <br />
                        <ul>
                            <li>Integrated current medical aid administration system with different provider management
                                systems to improve efficiency and paperless environment.</li>
                            <li>Implementation of business intelligence tool - Qlikview for seamless data analysis in
                                2018.</li>
                            <li>Procurement and configuration of new server – windows server 2019.</li>
                            <li>Procurement and configuration of new telecommunication (PBX) system.</li>
                            <li>Coordinated network cabling on newly established Head Office.</li>
                            <li>Developed IT policies and procedures for the company.</li>
                            <li>Developed IT budget in alignment to business strategy.</li>

                        </ul><br />
                        <h3>Key responsibilities:</h3>
                        <ul>
                            <li>Manage information technology and computer systems.</li>
                            <li>Lead large IT projects, including the design and deployment of new IT systems and
                                services.</li>
                            <li>Analyse business requirements by partnering with key stakeholders across the
                                organization to develop solutions for IT needs.</li>
                            <li>Recommend procurement of new IT infrastructure and software when necessary.</li>
                            <li>Test and deploy medical aid administration system updates.</li>
                            <li>Develop IT budget in accordance with company strategy.</li>
                            <li>Generate performance reports to the CEO on monthly, quarterly, and annual basis.</li>
                            <li>Manage and recruit IT staff and monitor their performance after communicating job
                                expectations.</li>

                        </ul>
                    </article><br/>
                    <article>
                        <h2>Acting General Manager at Mamoth Employee Benefits</h2>
                        <p class="subDetails">Nov 2017 - Jun 2018</p>
                        <p>During this time, I was promoted to the acting General Manager for eight (8) months.</p>
                        <br />
                        <h3>Projects completed</h3>
                        <ul>
                            <li>I managed to lead the team to develop 2017 benefit guide which we sold to existing and
                                new clients. The whole process included analysing and comparing current membership,
                                claims and financial data and quantitative data that came through our sales team to
                                provide insightful information which we utilized to develop 2017 benefit guide. The new
                                product was then presented to Board of Directors for approval.</li>
                        </ul><br />

                        <h3>Key responsibilities:</h3>
                        <ul>
                            <li>Coordinate the organisation operations, monitor, and motivate staff.</li>
                            <li>Implement and monitor the business strategy.</li>
                            <li>Lead projects such as annual product design and implementation.</li>
                            <li>Ensure good service delivery.</li>
                            <li>Ensure administration processes run seamlessly.</li>
                            <li>Acquire new clients (corporates and individuals) hence improve revenue.</li>
                            <li>Liaison with stakeholders such as Medikredit, Afrocentric, service providers and
                                corporates.</li>
                            <li>Generate performance reports to Directors such as new clients, claims and service
                                delivery reports.</li>

                        </ul>
                    </article><br/>
                    <article>
                        <h2>IT Officer at Mamoth Employee Benefits</h2>
                        <p class="subDetails">Aug 2014 - Jan 2017</p>
                        <br />
                        <h3>Projects completed</h3>
                        <ul>
                            <li>Procurement and configuration of new medical aid administration system in 2016 which
                                included business requirements development, requirements mapping with the vendor
                                software, data migration mapping, system testing, system training and system go-live in
                                collaboration with Afrocentric and Medikredit.</li>
                            <li>Upgrade of company telecommunication system – PBX: due to increase in the scheme
                                membership, incoming calls automatically increased hence the need to upgrade our PBX
                                lines for seamless communications.</li>
                        </ul><br />

                        <h3>Key responsibilities:</h3>
                        <ul>
                            <li>Deploy, configure, and maintain ICT systems and databases, including networks, servers,
                                and telecommunications. Troubleshoot and address issues to ensure optimal performance.
                            </li>
                            <li>Configure and maintain applications and user devices.</li>
                            <li>Schedule and monitor medical aid administration system backups.</li>
                            <li>Database administration – worked as backend database specialist on membership, claims
                                and finance modules by creating sql scripts to support all the modules in collaboration
                                with system vendor.</li>
                            <li>Medical aid administration system administration – supported all departments on all
                                system modules (membership, finance, and claims).</li>
                            <li>User training – I trained new users on how to use the system in their respective
                                departments, new software, and hardware usage.</li>
                            <li>Website development and deployment – I was part of the team that developed, deployed,
                                and monitored the company website which was deployed in the company server.</li>
                            <li>Network administration – supported overall network performance, the link between Mamoth
                                and Medikredit for online claim submission by pharmacies, doctors and hospitals and
                                supported end users’ internet connections.</li>
                            <li>Online claims reconciliation – worked in collaboration with Medikredit to reconcile
                                claims submitted online on monthly basis using excel and SQL scripts.</li>
                        </ul>
                    </article><br/>
                    <article>
                        <h2>IT Technician at Lerotholi Polytechnic</h2>
                        <p class="subDetails">Jan 2014 - Aug 2014</p>
                        <br />

                        <h3>Key responsibilities:</h3>
                        <ul>
                            <li>Set up workstations with computers and necessary peripheral devices (routers, printers
                                etc.)</li>
                            <li>Install and configure appropriate software and functions according to specifications.
                            </li>
                            <li>Ensure security and privacy of networks and computer systems by ensuring that all
                                college devices are secured with antivirus.</li>
                            <li>Perform troubleshooting to diagnose and resolve problems (repair or replace parts,
                                debugging etc.).</li>
                            <li>Website revamp.</li>
                            <li>Generate performance reports to IT Manager.</li>
                        </ul>
                    </article>


                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Key Skills</h1>
                </div>

                <div class="sectionContent">
                    <ul class="keySkills">
                        <li>Analytical and problem solving skills</li>
                        <li>Strong technical skills.</li>
                        <li>The ability to work well under pressure.</li>
                        <li>Attention to details.</li>
                        <li>Teamworking skills.</li>
                        <li>Organisation and time management.</li>
                        <li>Interpersonal and communication skills.</li>
                        <li>Management and leadership skills.</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Education</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>National University of Lesotho.</h2>
                        <p class="subDetails">BSc degree in Computer Science.</p>
                        <p>Obtained: Second Class, Second Division.</p>
                    </article>

                    <article>
                        <h2>Professional development</h2>
                        <p>Feb - April 2019: Business and systems analysis (Online), University of Stellenbosch Business School (USB Executive Development).</p>
                        <p>Jan - Jun 2018: IT Service Management (ITIL Foundation), Online – AXELOS, did not meet minimum requirements.</p>
                        <p>Jun – Dec 2015: CCNA, Lerotholi Polytechnic, Passed three modules.</p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>

        </div>
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>
</body>

</html>